$font: 'Ubuntu';

.logout {
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    position: relative;
    right: 20px;
    top: 10px;
    box-shadow: 4px 4px 12px 4px rgba($color: #000000, $alpha: 0.18);
    -webkit-appearance: none;
    border: none;

    .icon {
        height: 35px;
    }

    .name {
        display: none;
    }
}

.logout:hover {
    height: 45px;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    border-radius: 30px;
    position: relative;
    right: 20px;
    top: 10px;
    transition: .5s;
    overflow: hidden;
    -webkit-appearance: none;
    border: none;
    padding: none;
    box-sizing: none;
    cursor: pointer; 

    .icon {
        position: relative;
        //right: -5px;
        height: 31px;
    }

    .name {
        display: flex;
        font-family: $font;
        font-weight: 600;
        font-size: 20px;
        color: '#4A4A4A';
        position: absolute;
        left: 19px;
    }
}